RFC 8824: "cause code" and "call dialog"

Please review the following text. Terms such as "cause code" and "call dialog" do not appear in RFC 8824.  Please let us know how/if we should update the text and/or citation.

Original: 
 The association of a "ppi" parameter with a Reason header field using
 "STIR" protocol MUST only identify a single cause code in the context
 of a call dialog defined in [RFC8224] or in future documents defining
 STIR related errors.

please update as follows: 

The association of a "ppi" parameter with a Reason header field [RFC3326] using the protocol value of "STIR" defined in this document MUST only identify a single cause code [RFC3326] in the context of a call dialog [RFC3261] corresponding only to the STIR-related error codes defined in [RFC8224] or future documents defining STIR-related error codes.